<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ajout d'un véhicule</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Ajout d'un véhicule :</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addVehicule}"
      th:object="${vehiculeForm}" method="POST">
    ID :
    <input type="number" th:field="*{id}" />
    <br/>
    Marque :
    <input type="text" th:field="*{marque}" />
    <br/>
    Modèles :
    <input type="text" th:field="*{modele}" />
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>