<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Modification d'un véhicule</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}"/>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5" th:utext="'Modification du véhicule' +${vehicule.marque +' '+ vehicule.modele}">...</h1>
    </div>
</div>

<form class="pl-5 pr-5" th:action="@{/updateVehicule}"
      th:object="${vehicule}" method="POST">

    <div class="form-group">
        <label for="id">id : </label>
        <input id="id" class="form-control" type="text" readonly="true" th:field="*{id}" />
        <br/>
    </div>
    <div class="form-group">
        <label for="marque">Marque : </label>
        <input id="marque" class="form-control" type="text" th:field="*{marque}"  />
        <br/>
    </div>
    <div class="form-group">
        <label for="modele">Modèle :</label>
        <input id="modele" class="form-control" type="text" th:field="*{modele}" />
        <br/>
    </div>
    <button type="submit" class="btn btn-primary">MODIFIER</button>
    <!--    <input type="submit" value="Create" />-->
</form>

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
</body>
</html>