<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>un véhicule</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}"/>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5" th:utext="${vehicule.marque +' '+ vehicule.modele}">...</h1>
    </div>
</div>

    <button type="button" class="btn btn-light"><a href="addVehicule">Ajouter un véhicule</a></button>
<br/><br/>
    <div>
        <table class="table table-bordered">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marque</th>
                <th scope="col">Modèle</th>
            </tr>
            <tr>
                <td th:utext="${vehicule.id}">...</td>
                <td th:utext="${vehicule.marque}">...</td>
                <td th:utext="${vehicule.modele}">...</td>
            </tr>
        </table>
    </div>
</body>
</html>