<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste des véhicules</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}"/>
</head>
<body>
    <h1>Liste des véhicules</h1>
    <button type="button" class="btn btn-primary"><a class="text-reset" href="addVehicule">Ajouter un véhicule</a></button>
    <br/><br/>
    <div class="p-5">
        <table class="table table-bordered">
            <tr>
                <th scope="col">
                    ID
                    <a href="http://localhost:8082/vehiculeList/id/asc">
                        <img th:src="@{/icon/svg/caret-top.svg}" alt="icon classement ascendant">
                    </a>
                    <a href="http://localhost:8082/vehiculeList/id/desc">
                        <img th:src="@{/icon/svg/caret-bottom.svg}" alt="icon classement ascendant">
                    </a>
                </th>
                <th scope="col">
                    Marque
                    <a href="http://localhost:8082/vehiculeList/marque/asc">
                        <img th:src="@{/icon/svg/caret-top.svg}" alt="icon classement ascendant">
                    </a>
                    <a href="http://localhost:8082/vehiculeList/marque/desc">
                        <img th:src="@{/icon/svg/caret-bottom.svg}" alt="icon classement ascendant">
                    </a>
                </th>
                <th scope="col">
                    Modèle
                    <a href="http://localhost:8082/vehiculeList/modele/asc">
                        <img th:src="@{/icon/svg/caret-top.svg}" alt="icon classement ascendant">
                    </a>
                    <a href="http://localhost:8082/vehiculeList/modele/desc">
                        <img th:src="@{/icon/svg/caret-bottom.svg}" alt="icon classement ascendant">
                    </a>
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <tr th:each ="vehicule : ${vehicules}">
                <td th:utext="${vehicule.id}">...</td>
                <td th:utext="${vehicule.marque}">...</td>
                <td th:utext="${vehicule.modele}">...</td>
                <td>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#deleteModal'+${vehicule.id}">
                            SUPPRIMER
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" th:id="'deleteModal'+${vehicule.id}" tabindex="-1" role="dialog" th:aria-labelledby="'deleteModalLabel'+${vehicule.id}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:id="'deleteModalLabel'+${vehicule.id}">Confirmer la suppression</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Confirmez-vous la suppression du véhicule <span th:utext="${vehicule.marque +' '+ vehicule.modele}">...</span> ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULER</button>
                                    <button type="button" class="btn btn-danger"><a class="text-reset" th:href="'http://localhost:8082/delete/'+${vehicule.id}">CONFIRMER</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary">
                            <a class="text-reset" th:href="'http://localhost:8082/updateVehicule/'+${vehicule.id}">MODIFIER</a>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script th:src="@{/bootstrap.js}"></script>
</body>
</html>